.church-name-box {
  position: absolute;
  top: 120px;
  left: 70px;
  text-align: left;
  text-align: center;
}

.text-james-less {
  font-family: "Bebas Neue", sans-serif;
  font-size: 120px;
  color: #cc2d82;
  line-height: 0.9;
}

.text-roman,
.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #182e66;
}

.text {
  font-size: 16px;
  line-height: 1.4;
}
/* for translate page */
/* .church-name-box-for-translate-page {
  position: absolute;
  top: 80px;
  left: 70px;
  text-align: left;
}

.text-iglesia {
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  padding-left: 10px;
  /* color: white; *
  color: grey;
  /* line-height:  */
