/* styles.css */
html,
body {
  margin: 0;
  height: 100%;

  overflow-x: hidden; /* no horizontal scroll */
  /* overflow-y: auto;  */
  /* w/ vertical scrol*/
  font-family: Arial, sans-serif;
  /* background-color: #fcda7c; */
}
/* 1.  SCHEDULE */
.top-box {
  margin-top: 120px;
  margin-left: 120px;
  width: 1200px;
  /* height: 500px; */
  /* background-color: darkorange; */

  display: flex;
  flex-direction: row;
}
.schedule-church-name-box {
  width: 400px;
  /* background-color: blue; */
}

.text-james-less {
  font-family: "Bebas Neue", sans-serif;
  font-size: 120px;
  color: #cc2d82;
  line-height: 0.9;
}
.schedule-top-box {
  padding-left: 60px;
  width: 800px;
  /* height: 100px; */
  /* background-color: pink; */

  display: flex;
  flex-direction: column;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #cc2d82;
}
.schedule-mid-box {
  margin-left: 120px;

  width: 1200px;
  /* height: 380px;
  background-color: blue; */

  display: flex;
  flex-direction: row;
}

.schedule-mid-box-text {
  width: 600px;
  /* height: 360px;
  background-color: pink; */

  padding-left: 60px;
  /* padding-right: 40px; */
}
.schedule-mid-box-map1 {
  width: 500px;
  /* height: 360px;
  background-color: gray; */
}

.schedule-mid-box-map2 {
  margin-left: 140px;
  width: 500px;
  /* height: 360px;
  background-color: gray; */
}
.schedule-text {
  font-family: "Avenir Book", sans-serif;
  font-size: 24px;
  color: #182e66;
}

.address {
  font-family: "Avenir Book", sans-serif;
  font-size: 24px;
  color: #182e66;
  padding-left: 80px;
}
.schedule-list {
  margin-left: 50px;
}

.full-width-box {
  margin-left: 120px;
  width: 1200px;
  /* height: 100px; */
  /* background-color: blue; */

  display: flex;
  flex-direction: column;
}

/* 2.  LESSONS */
#lessons {
  padding-top: 100px;
}
.lesson-mid-box {
  /* margin-left: 120px; */
  width: 1200px;
  /* height: 480px; */
  /* background-color: blue; */

  display: flex;
  flex-direction: row;
}
.lesson-info-box-for-grade1 {
  /* padding-right: 100px; */
  width: 720px;
  /* height: 450px; */
  /* background-color: red; */
}
.lesson-photo1 {
  padding-left: 100px;
  width: 500px;
  /* height: 450px; */
  /* background-color: yellow; */
}
.lesson-photo1 img {
  width: 70%;
}

.lesson-photo2 {
  /* padding-left: 100px; */
  /* padding-top: 60px; */
  width: 400px;
  /* height: 300px; */
  /* background-color: yellow; */
}

.lesson-photo2 img {
  width: 100%;
}

.lesson-info-box-for-grade2 {
  /* padding-right: 100px; */
  padding-left: 0;
  margin-left: 0;

  width: 800px;
  /* height: 300px; */
  /* background-color: red; */
}

.lesson-photo3 {
  /* padding-left: 100px; */
  /* padding-top: 60px; */
  width: 400px;
  /* height: 300px; */
  /* background-color: yellow; */
}

.lesson-photo3 img {
  width: 100%;
}

.lesson-info-box-for-grade8 {
  /* padding-right: 100px; */
  width: 600px;
  /* height: 200px; */
  /* background-color: red; */
}
.grade-level {
  padding-left: 70px;
  font-family: "Avenir Book", sans-serif;
  font-size: 24px;
  /* color: #182e66; */
  color: #cc2d82;
}
.lesson-list {
  padding-left: 100px;

  color: #182e66;
}

/* 3.  SAFE-ENVIRONMENT */
#safe-environment {
  padding-top: 100px;
}

.sub-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: #cc2d82;
}

.sub-sub-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #cc2d82;
}

.lesson-info-box-for-safe-environment {
  /* padding-right: 100px; */
  padding-left: 80px;
  margin-right: 120px;

  width: 800px;
  /* height: 300px; */
  /* background-color: red; */
}
.safe-environment-mid-box {
  /* margin-left: 120px; */

  width: 1200px;
  /* height: 380px;
  background-color: blue; */

  display: flex;
  flex-direction: row;
}
.safe-environment-mid-box-text {
  width: 800px;
  margin-left: 0;
  /* height: 360px;
  background-color: pink; */
}

.video-box {
  margin-left: 150px;
}
iframe {
  padding-left: 120px;
  width: 80%;
  max-width: 600px;
  height: 340px;
  border: none;
}
